html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

body {
  text-align: center;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}

.uITheme {
  --secondary-color: #000;
  --primary-color: rgb(0, 140, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: auto;
}

.flex-container {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 5px;
  justify-content: center;
}

.example-image-text {
  font-size: 1.2em;
  width: 50%;
  word-wrap: break-word;
  margin-right: 10px;
}

.footer {
  margin: auto;
  margin-top: 200px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: relative;
  /* position: fixed; */
  text-align: center;
  font-size: small;
}

.ulin-button {
  margin: 0 0 10px;
  font-family: notoserif;
  background-color: cyan;
  font-size: 20px;
  border-color: grey;
}

.ulin {
  padding-top: 15px;
  padding-bottom: 15px;
}

.normal {
  padding-top: 15px;
  padding-bottom: 15px;
}

canvas {
  background-color: white;
  touch-action: none;
}
